


<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Lista przepisów:</h1>
	<table>
		<tr>
			<th>Nazwa:</th>
			<th>Opis:</th>
			<th>ID użytkownik:</th>
			<th>ID typu:</th>
		</tr>
			
				<tr>
					<td>Biszkopty przełóż kremem i posyp cukrem puderm</td>
					<td>Tort urodzinowy</td>
					<td>12</td>
					<td>6</td>
				</tr>
			
				<tr>
					<td>Biszkopy przłożyż z kisielem i na góre dodać wiśnie</td>
					<td>Tort wiśniowy</td>
					<td>12</td>
					<td>6</td>
				</tr>
			
				<tr>
					<td>Mleko rozpuścić z czekloadą, dodac mąkę i do piekarnika na 180C 30 minut</td>
					<td>Czekoladowiec</td>
					<td>1</td>
					<td>6</td>
				</tr>
			
				<tr>
					<td>Zmieszać wszystkie skąłdniki</td>
					<td>Tortilla po meksykańsku</td>
					<td>1</td>
					<td>2</td>
				</tr>
			
				<tr>
					<td>Łososia usmarzyć na patelnii i dodać sałatę</td>
					<td>Łosoś z sałatą </td>
					<td>1</td>
					<td>1</td>
				</tr>
			
				<tr>
					<td>Spagetti ugotować, dodać sos boloński i kotleta położyć </td>
					<td>Spagetti </td>
					<td>1</td>
					<td>1</td>
				</tr>
			
				<tr>
					<td>Wymieszać skaładniki </td>
					<td>Dink pomarańczowy</td>
					<td>1</td>
					<td>5</td>
				</tr>
			
				<tr>
					<td>Przeciąć morele na pół, wyjąć pestkę. Następnie ugotować z cukrem oraz z wodą. Wsawić do słoików i je również ugotować </td>
					<td>Dżem morelowy</td>
					<td>1</td>
					<td>7</td>
				</tr>
			
				<tr>
					<td>Wszystkie składniki połaczyć ze sobą</td>
					<td>Sałatka z suszonymi pomidorami</td>
					<td>1</td>
					<td>4</td>
				</tr>
			
				<tr>
					<td>Dodać klopsy do zupy</td>
					<td>Zupa warzywna z mięsem</td>
					<td>12</td>
					<td>3</td>
				</tr>
			
				<tr>
					<td>Dodać krewetki do zupy</td>
					<td>Zupa krewetkowa</td>
					<td>12</td>
					<td>3</td>
				</tr>
			
				<tr>
					<td>Dodac warzywa do wody</td>
					<td>Zupa warzywna </td>
					<td>12</td>
					<td>3</td>
				</tr>
			
				<tr>
					<td>Wytworzyć ciasto i wsadzić truskawki</td>
					<td>Pierogi z truskawkami</td>
					<td>12</td>
					<td>2</td>
				</tr>
			
				<tr>
					<td>W shakerze wstrząśnij składniki</td>
					<td>Mohito</td>
					<td>12</td>
					<td>5</td>
				</tr>
			
				<tr>
					<td>Woda gazowana + pomarańcza + ulubione przyprawy = napój pomoarańczowy!</td>
					<td>Napój pomarańczowy</td>
					<td>12</td>
					<td>5</td>
				</tr>
			
				<tr>
					<td>Dodaj energetyka do wódki, zamieszaj z wodą i kiwi</td>
					<td>Ice drink</td>
					<td>12</td>
					<td>5</td>
				</tr>
			
				<tr>
					<td>Zmiksuj wszystkie składniki</td>
					<td>Sok z buraka</td>
					<td>12</td>
					<td>5</td>
				</tr>
			
				<tr>
					<td>Ze śliwek usuń pestki, dodaj cukier i zagotuj </td>
					<td>Powidła</td>
					<td>12</td>
					<td>7</td>
				</tr>
			
				<tr>
					<td>Do miodu dodaj ulubione przyprawy</td>
					<td>Miód smakowy</td>
					<td>12</td>
					<td>7</td>
				</tr>
			
				<tr>
					<td>Zalc ogórki wodą z solą</td>
					<td>Ogórek kiszony</td>
					<td>12</td>
					<td>7</td>
				</tr>
			
				<tr>
					<td>Usmażyć rybę i dodać do bułki</td>
					<td>Fishburger</td>
					<td>1</td>
					<td>1</td>
				</tr>
			
	</table>

</body>
</html>